html {
    background: #f5c0c8;
}

body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header {
    background-color: #cf6a87;
    display: flex;
    box-shadow: 0px 10px 38px -8px #f8a5c2dd;
}

#search-container {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 35px;
    background: white;
    border-radius: 30px;
    margin: auto;
    margin-right: 5px;
    margin-left: 8px;
}

#account-link {
    margin: auto;
    margin-right: 0px;
    height: 35px;
    object-fit: contain;
}

#account-link img {
    height: calc(100% + 5px);
    width: auto;
    object-fit: contain;
    margin-top: -2.5px;
}

#search-input {
    border: none;
    outline: none;
    font-size: 1em;
    margin-left: 5px;
}

#menu-button {
    background: none;
    border: none;
}

#title {
    color: white;
    font-size: 2em;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 0px;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.movie {
    height: 300px;
    width: 200px;
    display: flex;
    text-decoration: none;
    box-shadow: 0px 0px 12px 5px #f8a5c2dd;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}